/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1250px) {
	.slider-main-wrapper .transport-type img {width: 100%;}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	header .third-col2 span {font-size: 14px;}
	header .third-col2 .order-callback a {font-size: 8px;}
	header .center-col .center-col-row-2 a {font-size: 11px;}
	header .first-row .col-md-3{padding: 0 5px 0 5px;}
	header .center-col .center-col-row-2 .first-col-2 {width: 150px;}
	header .header-navbar .navbar-box ul {width: 595px;}
	header .header-navbar .navbar-box ul li a {padding: 0 7px;}
	footer .top-companies-box ul li {margin: 0 6px 10px 6px;}
	footer .site-map-bottom .left-foter-links{width: 49%;}
	footer .right-footer-links {width: 51%;}
	.slider-main-wrapper h2 {font-size: 40px;}
	.slider-main-wrapper .inner-controls .icon {margin: 30px 50px;}
	.slider-main-wrapper .inner-controls .icon:before {left: 120px;}
	.pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {font-size: 18px;}
	.pickmeup .pmu-instance:first-child .pmu-prev {margin-left: 43px;}
	.auto-container .right-car-transp,.plain-container .right-plain-transp,.container-transportation .right-container-transp {margin-left: 0;}
	.auto-container .right-car-transp .main-img-cols .col-box, .plain-container .right-plain-transp .main-img-cols .col-box{padding-top: 10px;}
	.container-transportation .right-container-transp .main-img-cols .col-box{padding-top: 12px;}
	.calculator-container .right-calculator .calc-form .chek-input input{margin-left: 23px;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header .center-col .center-col-row-2 .col-sm-3:first-child {width: 150px;}
	header .header-navbar {height: 62px;}
	header .header-navbar .navbar-box ul li a {padding: 0 3px; font-size: 12px;}
	header .header-navbar .navbar-box ul {width: 477px;}
	header .header-navbar input[type="search"] {width: 200px;}
	header .col-md-2{float: left;}
	header .first-row .col-md-3 {width: 37%;}
	header .third-col{width: 74%; margin-top: 15px;}
	header .third-col2 {padding-left: 0;}
	header .center-col .center-col-row-2 .col-md-3:last-child {margin-left: 37px;}
    .slider-main-wrapper .inner-controls .icon {margin: 30px 34px;}
	.slider-main-wrapper h2 {margin: 42px 0 12px 0;}
	.slider-main-wrapper .transport-type img {margin-top: 60px;}
	.slider-main-wrapper .inner-controls .icon:before {left: 102px;}
    footer .site-map-bottom .social-links, footer .site-map-bottom .contact-links{width: 100%; text-align: center;}
    footer .site-map-bottom .left-foter-links,footer .right-footer-links{width: 50%; float: left;}
	.contact-container .col-md-7, .contact-container .col-sm-7, .contact-container .col-md-5, .contact-container .col-sm-5{padding-left: 15px; padding-right: 15px;}
	.calculator-container .right-calculator {margin-left: 0;}
	.calculator-container .right-calculator .calc-form .chek-input input {margin-right: 0;margin-left: 2px;}
	.calculator-container .right-calculator .calc-form {font-size: 12px;}
	.pickmeup .pmu-instance:first-child .pmu-prev {margin-left: 20px;}
	.pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {font-size: 14px;}
	.pickmeup .pmu-instance .pmu-day-of-week {padding-left: 7px;}
	.auto-container .left-sidebar,.plain-container .left-sidebar, .container-transportation .left-sidebar,.refrej-transportation .left-sidebar {width: 25%;}
	.auto-container .right-car-transp .main-img-cols .col-box,.plain-container .right-plain-transp .main-img-cols .col-box {padding-top: 20px;}
	.calculator-container .right-calculator .calc-form .check-container .right-side{float: none;}
	.calculator-container .right-calculator .calc-form .check-container .right-side .squaredFour:last-child{margin-left: 5px;}

}
 
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header .first-row .col-md-3 {width: 50%;}
	header .third-col{width: 100%;}
	header .navbar-collapse.in{overflow-y: hidden !important;}
	header .navbar-static-top {min-height: 1px;}
	header .first-row .first-col,
	header .first-row .second-col,
	header .first-row .third-col{text-align: center;}
	header .third-col2 {padding-top: 0; text-align: center;}
	header .first-row .third-col{margin-top: 15px;}
	header .center-col img {float: none; display: inline;}
	header .center-col .center-col-row-2 {margin-top: 15px;}
	header .center-col .center-col-row-2 .col-xs-6{text-align: center;}
	header .center-col .center-col-row-2 .col-md-3:last-child {margin-left: 0;}
	header .center-col .center-col-row-2 .col-sm-3:first-child,
	header .center-col .center-col-row-2 .third-col2 {width: 50%;}
	header .col-md-2 {float: none;}
	header .center-col .center-col-row-2 a {font-size: 14px;}
	header .header-navbar {
		height: auto; 
		background-image: none;
		background: -moz-linear-gradient(left, #024f9c 0%, #015db9 50%, #024f9c 100%); 
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#024f9c), color-stop(50%,#fae391), color-stop(100%,#f2ba26));
		background: -webkit-linear-gradient(left, #024f9c 0%,#015db9 50%,#024f9c 100%); 
		background: -o-linear-gradient(left, #024f9c 0%,#015db9 50%,#024f9c 100%); 
		background: -ms-linear-gradient(left, #024f9c 0%,#015db9 50%,#024f9c 100%); 
		background: linear-gradient(to right, #024f9c 0%,#015db9 50%,#024f9c 100%);
	}
	header .header-navbar .navbar-box ul li {text-align: center;width: 50%;border: none;}
	header .header-navbar .navbar-box ul {width: 100%; line-height: 62px;}
	header .header-navbar .navbar-box ul li:last-child:after,header .header-navbar .navbar-box ul li:first-child:after {display:none;}{display:none;}
	header .header-navbar input[type="search"] {width: 240px; margin: 10px auto; display: block;}
	.slider-main-wrapper h2 {font-size: 30px;}
	.slider-main-wrapper .inner-controls .icon {margin: 30px 11px; width: 60px; height: 60px;}
	.slider-main-wrapper .inner-controls .icon:after{width: 60px;height: 60px;}
	.slider-main-wrapper .inner-controls .icon .shadow {left: -13px;top: 66px;}
	.slider-main-wrapper .inner-controls .icon span {font-size: 11px; width: 100px; left: -20px;margin-top: 5px;}
	.slider-main-wrapper .inner-controls .icon:before{display: none;}
	.slider-main-wrapper .inner-controls:before {display: none;}
	.contact-container .submit-input {text-align: center;}
	footer .site-map-bottom .left-foter-links,footer .right-footer-links{width: 100%; float: none; text-align: center;}
	footer .site-map-bottom .contact-links li {display: inline-block; margin: 0 5px;}
	.calculator-container .right-calculator .calc-form .chek-input input {margin-left: 22px;}
	.pickmeup .pmu-instance:first-child .pmu-prev {margin-left: 40px;}
	.calculator-container .right-calculator .calc-form .inner-sep:last-child {padding-right: 15px;padding-left: 0;}
	.pickmeup {width: 260px; margin: 0px auto;}
	.auto-container .right-car-transp .bottom-description ul:last-child {margin-top: 5px;}
	.auto-container .right-car-transp .bottom-description ul,.plain-container .right-plain-transp .bottom-description ul,.container-transportation .right-container-transp .bottom-description ul,.refrej-transportation .right-refrej-transp .bottom-description ul{padding-left: 19px;}
	.auto-container .right-car-transp .bottom-description,.plain-container .right-plain-transp .bottom-description,.container-transportation .right-container-transp .bottom-description{padding-left: 0;padding-right: 0;}
	.plain-container .right-plain-transp .bottom-description p {margin-bottom: 10px;}
	.refrej-transportation .right-refrej-transp{padding-bottom: 10px;}
	.main-head-content {background-image: url("../img/shadow-head.png");background-position: center 302px;background-repeat: no-repeat;}
	header .center-col .center-col-row-2 {background-image: none;}
	.pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {font-size: 18px;}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header .header-navbar .navbar-box ul li {width: 100%;}
	header .header-navbar input[type="search"] {display: block;}
	header .center-col .center-col-row-2 .col-sm-3:first-child,
	header .center-col .center-col-row-2 .third-col2,
	header .center-col .center-col-row-2 .col-xs-6 {width: 100%;}
	header .third-col2 span {font-size: 12px;}
	footer .site-map-bottom .left-foter-links ul{display: block; margin-left: 0px; padding-left: 0; list-style-type: none;}
	.left-row {background-position: 124% 94%;}
	.right-row, .left-row{margin-top: 5px;}
	.main-content h1 {font-size: 17px;}
	.right-row .services ul li {margin-left: 7px !important; text-align: left; line-height: 25px !important;}
	.main-head-content {background-position: center 325px;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}